# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

tools

*.d.ts

lib/*.js
lib/*.map
server.js
server*.map

test/*.js
test/*.map

experimental/*.js
experimental/*.map

temp

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# App Files
# --------------------
dist/

# --------------------
# vim Files
# --------------------
*.swp
*.vim
